@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@model IEnumerable<CourseModel>

    <div class="container-fluid">
        <div class="row mt-4 d-flex justify-content-end">
            <div class="col-2">
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#courseModal">Add New Course</button>
            </div>
        </div>
        <div class="row mt-2">
            @if (Model.ToList().Count > 0)
            {
                @foreach (var course in Model)
                {
                    <div class="card col-3 m-1 shadow bg-light">
                        <div class="w-100 d-flex justify-content-end">
                            <a asp-route-id="@course.CourseId" asp-controller="Course" asp-action="RemoveCourse" class="btn-close mt-1"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Name: @(course.CourseName)</h5>
                        </div>
                        <div class="w-100 d-flex justify-content-end">
                            <a class="btn btn-warning w-25 my-1" asp-route-id="@course.CourseId" asp-controller="Course" asp-action="EditCourse">Edit</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <p class="lead">there are no courses to display.</p>
            }
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="courseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="courseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="courseModalLabel">Add New Course</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <partial name="CreateCourse" model="new CourseModel()" />
                </div>
            </div>
        </div>
    </div>
